.section-two{
            background-color: #EADBD6;
            width: 100%;
            display: inline-block;
        }
            .logo {
                display: inline-block;
                width: 15%;
                float: left;
                margin: 40px;
                margin-left: 80px;
                margin-right: 80px;
            }
            nav{
                display: inline-block;
                width: 40%;
                float: left;
                margin-top: 25px;
                margin-left: 50px;
            }
            .section-two > nav > a {
                    display: inline-block;
                    float: left;
                    color: #9C7764;
                    line-height: 20px;
                    font-size: 14px;
                    padding: 20px;
                    text-decoration: none;
            }
            .section-two > nav > a:hover{
                color: #347474;
                text-decoration: underline #9C7764 2px;
            }

           form{
                display: inline-block;
                float: left;
                margin-top: 40px;
                border: none;
            }

                input{
                    border: none;
                    border-bottom: 2px solid #9C7764;
                    background-color: #EADBD6;
                    line-height: 20px;
                }

            input:focus{
                outline: none;
                background-color: none;
            }
            
            .basket {
                display: inline-block;
                width: 3%;
                float: right;
                margin-top: 40px;
                margin-right: 50px;
            }
            