.section-one{
    background-color: #347474;
    width: 100%;
    display: inline-block;
    position: relative;
}
    main > .section-one > p{
        width: 20%;
        display: inline-block;
        float: left; 
        margin: 0;
        margin-left: 360px;
        margin-top: 5px;
        text-transform: uppercase;
        font-size: 8px;
        color: white;
    }

    span {
        display: inline-block;
        float: left;
        color: white;
        margin-right: 5px;
    }

    main > .section-one > a{
        display: inline-block;
        float: left;
        margin-top: 5px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 8px;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }